.MS-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.3s ease;
}
.MS-btn{
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    padding:15px 25px;
    margin: 20px;
    transition: all 0.3s ease;
}
.MS-btn:hover {
    transform: scale(1.05);
}
.number{
    font-size: 40px;
}
.MS-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnIncrease{
    background-color: black;
    color: lightyellow;
}
.btnDecrease{
    background-color: rgb(206, 30, 30);
}
.popup{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow:0px 2px 8px 0px rgba(99, 99, 99, 0.2) ;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    animation:popup 1s 1 ;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.popup::after{
    content: "";
    width: 100%;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#000000;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 75px;
}
@keyframes popup {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}